<tr id="<%= dom_id items_branch %>">
  <td>
    <%= items_branch.items_hist_id %>
  </td>
  <td>
    <%= items_branch.item_id %>
  </td>
  <td>
    <%= items_branch.refid %>
  </td>
  <td>
    <%= items_branch.reftype %>
  </td>
  <td>
    <% if items_branch.refid != '*' %>
      <%= button_to "X", items_branch, method: :delete %>
    <% else %>
      &nbsp;
    <% end %>
  </td>

</tr>
