<p style="color: green"><%= notice %></p>
<% if @item.new_record? %>
  <% absence_reason = (@items_hists.empty?)? 'not found':'deleted' %>
  <h4>item: <%= absence_reason %></h4>

<% else %>
  <%= render @item %>
  <div>
    <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Back to items", items_path %>

    <%= button_to "Destroy this item", @item, method: :delete %>
  </div>
<% end %>


<% unless @items_hists.blank? %>
<hr/>
<h4>history records</h4>
<table class="hists">

  <%= render partial: 'items_hists/items_hist_hdr', locals: {hdrs: ItemsHistsHelper::ITEM_LISTS_HDR} %>

  <% @items_hists.each do |items_hist| %>
    <%= render items_hist %>
  <% end %>
</table>
<% end %>



<% unless @items_hists_branches.blank? %>
<hr/>
<b>history branches</b> (+) <br/>&nbsp;<br/>
<table class="hists">

  <%= render partial: 'items_branches/items_branch_hdr', locals: {hdrs: ItemsBranchesHelper::ITEM_LISTS_HDR} %>

  <% @items_hists_branches.each do |items_branch| %>
    <%= render items_branch %>
  <% end %>
</table>
<% end %>
