<tr id="<%= dom_id items_hist %>">
  <td>
    <%= items_hist.id %>
  </td>
  <td>
    <%= items_hist.items_id %>
  </td>

  <td>
    <%= items_hist.f1 %>
  </td>

  <td>
    <%= items_hist.f2 %>
  </td>

  <td>
    <%= items_hist.f3 %>
  </td>

  <td>
    <%= items_hist.items_created_at %>
  </td>

  <td>
    <%= items_hist.items_updated_at %>
  </td>

  <td>
    <%= link_to items_hist.op_hist, items_hist %>
  </td>

  <td>
    <%= items_hist.engine %>
  </td>
  <td>
    <%= items_hist.items_hist_id %>
  </td>
  <td>
    <% branches = items_hist.items_branches %>
    <% branches.each do |br| %>
    <%= br.refid %> &nbsp;
    <% end %>
  </td>

  <td>
    <% if items_hist.op_hist != 'D' %>
      <%= button_to "<<", items_hist_checkout_path(items_hist), method: :post %>
    <% else %>
      &nbsp;
    <% end %>
  </td>
  <td>
    <% if items_hist.op_hist != 'D' %>
      <%= form_with url: items_hist_tag_path(items_hist), method: :post do |form| %>
      <%= form.submit "<-t", name: nil %>
      <%= form.text_field :refid, value: params[:refid] %>
      <% end %>
      <!--    ### %= button_to "<T", items_hist_tag_path(items_hist), method: :post %  -->
    <% else %>
      &nbsp;
    <% end %>
  </td>

</tr>
