<div id="<%= dom_id items_hist %>">
  <p>
    <strong>Items:</strong>
    <%= items_hist.items_id %>
  </p>

  <p>
    <strong>F1:</strong>
    <%= items_hist.f1 %>
  </p>

  <p>
    <strong>F2:</strong>
    <%= items_hist.f2 %>
  </p>

  <p>
    <strong>F3:</strong>
    <%= items_hist.f3 %>
  </p>

  <p>
    <strong>Items created at:</strong>
    <%= items_hist.items_created_at %>
  </p>

  <p>
    <strong>Items updated at:</strong>
    <%= items_hist.items_updated_at %>
  </p>

  <p>
    <strong>Op hist:</strong>
    <%= items_hist.op_hist %>
  </p>

</div>
