<tr id="<%= dom_id items_hist %>">
  <td>
    <%= items_hist.items_id %>
  </td>

  <td>
    <%= items_hist.f1 %>
  </td>

  <td>
    <%= items_hist.f2 %>
  </td>

  <td>
    <%= items_hist.f3 %>
  </td>

  <td>
    <%= items_hist.items_created_at %>
  </td>

  <td>
    <%= items_hist.items_updated_at %>
  </td>

  <td>
    <%= items_hist.op_hist %>
  </td>

</tr>
